<h1>Add an Ingredient</h1>

<form action="/add-ingredient" method="post">
  <label for="ingredient-name">Add ingredient name</label>
  <input id="ingredient-name" name="ingredient-name">

  <button type="submit" id="create-ingredient">Add Ingredient</button>
</form>

<a href="/add-recipe">Add a Recipe</a>
<a href="/list-recipes">List All Recipes</a>
<a href="/categories">List All Categories</a>
<a href="/">Home</a>
