<h1>Add a Category</h1>

<form action="/add-category" method="post">
  <label for="category-name">Add category name</label>
  <input id="category-name" name="category-name">

  <button type="submit" id="create-category">Add Category</button>
</form>

<a href="/add-recipe">Add a Recipe</a>
<a href="/list-recipes">List All Recipes</a>
<a href="/categories">List All Categories</a>
<a href="/">Home</a>
