<h1>Recipes</h1>


<a href="/add-recipe">Add a Recipe</a>
<a href="/list-recipes">List All Recipes</a>
<a href="/search-recipes">Search Recipes</a>
<a href="/add-category">Add a Category</a>
<a href="/list-categories">List All Categories</a>
