<h1>Recipes</h1>

<form action="/search-recipe" method="post">
  <label for="search-recipe">Search</label>
  <input id="search-recipe" name="search-recipe">

  <button type="submit" id="search-button">SEARCH</button>
</form>
<a href="/add-recipe">Add a Recipe</a>
<a href="/list-recipes">List All Recipes</a>
<a href="/add-category">Add a Category</a>
<a href="/categories">List All Categories</a>
<a href="/add-ingredient">Add an Ingredient</a>
